.main-actions-container{
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;

  .main-controls-container{
    display: flex;
    align-items: center;
    gap: 1rem;
    .search-input-box{
      border-radius: 10px;
      padding: 0.5rem;
      .ant-input{
        padding: 0 1rem;
      }
    }
    
    .no-contact-filter{
      display: flex;
      flex: none;
      align-items: center;
      gap: 0.5rem;
    }
  }
}

.main-customer-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  

  .customer-table-container{
    overflow-x: auto;
    border-radius: 10px;
    border: 2px solid #00000033;
    box-shadow: 0 10px 35px -13px;
    .table-head-cell{
      background-color: #00000012;
      font-weight: 700;
      font-size: 1rem;
      color: #5b5b5b;
    }
      .ellipsis-cell {
        max-width: 0; 
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .action-column{
        display: flex;
        justify-content: center;

      }
      .action-cell{
        display: flex;
        justify-content: center;
        gap: 1rem
      }
  }
}

.table-pagination-action-container{
    background-color: rgb(239 239 239);
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding: 1rem;
    .page-control-container{
      display: flex;
      flex: none;
      align-items: center;
    }
}

::ng-deep .customer-details-modal{
  .ant-modal-content {
    border-radius: 8px;
    overflow: hidden;
  }
  .customer-details-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .customer-avatar-container{
      display: flex;
      justify-content: center;
      width: 200px;
      height: 200px;
      align-self: center;
      img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover
      }
    }
    .customer-info{
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      h2{
        margin: 0;
        font-size: 2rem;
        font-weight: 900;
        color: #666666;
        text-align: center;
      }
      .info-group{
        display: flex;
        align-items: center;
        gap: 1rem;
    
      }
    }
  }
}
::ng-deep .create-customer-modal, 
::ng-deep .edit-customer-modal {
  .ant-modal-content {
    border-radius: 8px;
    overflow: hidden;
  }

  .ant-modal-body {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    .input-container{
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      .error-message {
        color: #dc3545;
        margin-top: 5px;
        font-size: 0.85rem;
      }
      input.invalid {
        border: 1px solid #dc3545;
        box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
      }
    }
  }

  .ant-modal-footer {
    display: flex;
    justify-content: space-between
  }
}

::ng-deep .delete-customer-modal {
  .ant-modal-content {
    border-radius: 8px;
  }
  
  .ant-btn-primary {
    background-color: #dc3545;
    border-color: #dc3545;
    
    &:hover {
      background-color: #c82333;
      border-color: #bd2130;
    }
  }
}



.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  
  .loading-spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    
    span[nz-icon] {
      font-size: 24px;
    }
  }
}
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.highlight-birthday {
  background-color: rgb(235 186 255 / 60%);
  padding: 2px 6px;
  border-radius: 4px;
  font-weight: 500;
  color: #a665c1;
  border-left: 3px solid #7f22e66b;
  padding: 0.5rem;
}

.contract-active {
  color: #54a12e;
  font-weight: 500;
  padding: 0.5rem;
  background: #d3e6ca;
  border-radius: 15px;
  font-weight: 700;
}

.contract-inactive {
  color: #d26263;
  /* color: #54a12e; */
  font-weight: 500;
  padding: 0.5rem 1rem;
  background: #feaeae;
  border-radius: 15px;
  font-weight: 700;
}
