@import "~ng-zorro-antd/ng-zorro-antd.min.css";

.main-container{
    background-color: rgb(225, 225, 225);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
}

body {
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
}